* {
	box-sizing: border-box;
}

body {
	font-family: Roboto,"Open Sans", sans-serif;
}

/*region HEADER*/

header {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 200;
}

.logo {
	font: bold 24px/28px Roboto,"Open Sans", sans-serif;
	color: #F2C94C;
	padding-top: 18px;
	padding-bottom: 17px;
}

.nav {
	padding: 21px 0 21px 7px;
}

.nav-link {
	font: 18px/21px Roboto,"Open Sans", sans-serif;
	padding-top: 0;
	padding-bottom: 0;
}

.btn {
	background: #F2C94C;
	border-radius: 5px;
}

.btn-top {
	padding: 12px 61px 12px 0
}

.btn-head {
	width: 179px;
	font-size: 14px;
	line-height: 16px;
	padding: 12px 24px 11px 25px;
}

/*endregion*/

/*region БАННЕР*/

/**/
.banner {
	position: relative;
	min-height: 100vh;
	min-width: 100%;
	background: url(images/moto.jpg) no-repeat center;
	background-size: cover;
}

.banner-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.46);
	z-index: 10;
}

.banner-content {
	position: relative;
	z-index: 20;
}

.banner-heading {
	font-weight: 500;
	font-size: 64px;
	line-height: 52px;
}

.banner-paragraph {
	width: 440px;
	font-size: 20px;
	line-height: 28px;

	padding-top: 64px;
	margin: auto;
}

.btn-middle {
	padding-top: 32px;
}

.btn-banner {
	width: 280px;
	padding: 21px 0;
	margin: auto;

	font-weight: 600;
	font-size: 18px;
	line-height: 21px;
}
/**/
/*endregion*/

/*region ТОП 3 МОТО*/
/**/
.top3moto-heading {
	font-size: 24px;
	line-height: 28px;

	padding-top: 70px;
	margin: 0;
}

.top3moto-paragraph {
	font-size: 18px;
	line-height: 27px;

	width: 800px;
	margin: auto;

	padding-top: 25px;
}

.top3moto-images {
	padding-top: 88px;
}

.card {
	border: 0;
	padding-bottom: 52px;
}

.card a {
	color: black;
	text-decoration: underline;
}

.alignImage {
	background: #fff;
	height: 370px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

/**/
/*endregion*/

/*region FEATURE*/
/**/

.feature-content {
	width: 1080px;
	padding: 120px 0;
}

.feature-content img {
	width: 540px;
	height: 360px;
}

.feature-content h4 {
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;

	padding-top: 23px;
	margin: 0;
}

.feature-content p {
	font-size: 20px;
	line-height: 28px;

	padding-top: 24px;
	padding-right: 16px;
	margin: 0;
}
/**/
/*endregion*/

/*region FOOTER SOCIAL*/
/**/
.footer-socialNet {
	background: #F2C94C;
	padding: 48px 0 73px;
	margin: auto;
}

.socialNetwork {
	width: 681px;

	display: flex;
	align-items: center;
	justify-content: space-around;

	padding-top: 32px;
	margin: auto;
}

.footer-socialNet h4 {
	font-size: 24px;
	line-height: 34px;
}

/**/
/*endregion*/

/*region FOOTER*/
/**/
footer {
	padding: 121px 0 90px;
	background: #333333;
}

.footer-content {
	width: 1060px;
}

footer .row {
	font-size: 14px;
	line-height: 20px;
	margin: 0;

	padding-bottom: 13px;
}

footer .col-2 .row {
	padding-bottom: 16px;
}

footer .col {
	padding: 0;
}

footer .logo {
	padding-top: 0;
	padding-bottom: 6px;
}

footer .row .col-2 .row.font-weight-bold {
	padding-bottom: 25px;
}
/**/
/*endregion*/

/*region PRODUCT LIST PAGE*/
/**/
.best-moto {
	padding: 64px 0 70px;
	background: #F2F2F2;
}

.best-moto .card {
	background: #F2F2F2;
	padding: 0;
}

.best-moto .row.top3moto-images {
	padding-top: 30px;
}

.best-moto .top3moto-paragraph {
	padding-bottom: 58px;
}
/**/
/*endregion*/

/*region DETAIL PAGE*/

/*region details*/
.content-details {
	background: #F2F2F2;
	padding: 130px 0;
}

.content-detail-image {
	background: #FFFFFF;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 8px;

	width: 468px;
	height: 354px;
}

.content-details .container .row .col-7 h1.font-weight-bold {
	font-size: 48px;
	line-height: 68px;

	margin: 0;
}

.content-details .container .row .col-7 p {
	padding-top: 61px;
	margin: 0;

	width: 670px;

	font-size: 20px;
	line-height: 28px;
}

.content-details .container {
	max-width: 1172px;
	padding: 0;
}

.content-details .row .col-7 {
	padding: 0;
}

.content-details .row .col-5 {
	padding: 0;
}

.content-details .row {
	margin: 0;
}

.content-details .row .col-7 .col-4 {
	padding: 0;
}

.content-detail-ul {
	padding-top: 1px;
	font-size: 20px;
	line-height: 28px;
	padding-inline-start: 22px;
}

.content-detail-ul li{
	padding-top: 24px;
}

.btn-detailPage {
	width: 261px;
	padding: 21px 25px;
}

.btn-middle-detailPage {
	padding: 78px 0 0 0;

}

/*endregion details*/

/*region proposition*/

.content-proposition {
	background: #FFFFFF;
}

.content-proposition .container {
	width: 1173px;
	padding: 130px 0;
}

.table-secondary, .table-secondary>td, .table-secondary>th {
	background-color: #F2F2F2;
}

.smallColumn {
	width: 306px;
}

.table {
	margin: 0;
}

.content-proposition .container .row h1 {
	padding-bottom: 19px;
	font-size: 48px;
	line-height: 68px;
}

.content-proposition .container .row .btn-middle-detailPage {
	padding-top: 93px;
}


/*endregion*/

/*endregion*/

/*region LOGIN PAGE*/

.LoginPage {
	padding: 208px 0 144px;
}

.content-form {
	padding: 120px 0 140px;
	width: 360px;
	margin: auto;
}
.form-group {
	width: 360px;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 5px;
}

label {
	margin: 0;
}

.form-control {
	width: 360px;
	height: 64px;
	margin: 0;
}



.LoginPage h4 {
	padding-bottom: 47px;
	margin: 0;
	font-size: 20px;
	line-height: 28px;
}

.LoginPage .content-form .col.text-center {
	padding: 0;
}

.LoginPage .content-form .col.text-center .btn {
	background: black;
	width: 360px;
	height: 64px;
}

.btn-dark {

	padding: 21px 0;
	margin: auto;

	font-size: 18px;
	line-height: 21px;
}


/*endregion*/

